
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
       

         
          
                 
                

      

                <% if @thoughts_search.first.title.length != 0 %>

                 <strong><%= @thoughts_search.first.title%></strong>



                  <% end %>

               

        </h4>
      </div>
      <div class="modal-body">

      
       
       <%= @thoughts_search.first.content %>
      
      </div>
      <div class="modal-footer">
      <% if @thoughts_search.count > 1  %>

      <h4 id="hashSearched">All nodes connecting to  <strong><%= params[:query]%></strong></h4>
      <div class="list-group">
      <!-- the first thought is already displayed in the modal content, no the if statment ignores it  -->
      <% @thoughts_search.each do |thought|%>
      
      
      
   
    
      <a data-remote="true" href="/users/<%= @user.id %>/thoughts/<%= thought.id %>/" class="list-group-item" data-thoughtid="<%= thought.id %>">
                 <h4 class="list-group-item-heading">
                
                <% mod = thought.content.scan(/#\w+/) %>
                 
                 <% if mod[0] %>
                 <% title = mod[0].titleize %>
                 <% title[0] = "" %>
                 <% else %>
                 <% title = mod[0]%>
                 <% end %>
                 
                 <strong><%= title %></strong>
                 <span class="hashSubTitle">
                 <%=  thought.content.scan(/#\w+/).uniq %>
                 </span>
                 </h4>
                
              </a>
       
     
  <% end %> 
  </div>
  <% else %> 

  
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <% end %> 

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>