
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
       

         
          
                 
                

      

                

                 <strong>Under construction. Use Edit Mode. </strong>



             

               

        </h4>
      </div>
      <div class="modal-body">


		<%= form_for [@user, @thought], :html => { :id => "newShowForm" },remote: true do |f| %>
		<!-- dynamic active thought variable for delete jquery-->
		<%= javascript_tag do %>
		  window.thoughtid = "<%= @thought.id %>";
		<% end %>
		<%= render "shared/error_messages", object: @thought %>
		  <fieldset style="height:100%;">
		  		<%= f.text_field :title, class: "form-control titleClassM", placeholder: "title optional" %>
		        <%= f.text_area :content, autofocus: true, class: "form-control writingClassM", rows: 10  %>
            <%= f.submit "save", class: "btn btn-large btn-primary", style: "position:relative; top: 20px;" %>
		     
		  </fieldset>
		<% end %>
      
      </div>
      <div class="modal-footer">
      

      
      <div class="list-group">
      <!-- the first thought is already displayed in the modal content, no the if statment ignores it  -->
     
      
      
      
   
    
      
                 <h4 class="list-group-item-heading">
                
            
                 </h4>
                
              </a>
       
     


  </div>


  
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>