
<!-- get embedded hash array -->
<% thought_array=[] %>
<% @thoughts.each do |thought| %>
 <% thought.content.to_s   %>
 <% str=  thought.content.to_s   %>
 <% tags = str.scan(/#\w+/).uniq %>
 <%thought_array= thought_array+[tags] %>
<% end %>

<%= javascript_tag do %>
  window.userid = "<%= @user.id %>";
  window.thoughtid = "<%= @thought.id %>";
  window.userName = "<%=j @user.username %>";
  window.nodeCount = "<%= @thoughts.size %>";
  window.hashArray = <%=raw thought_array.as_json %>;
<% end %>

<style type="text/css">
html{
  overflow:hidden;
}
</style>

<div style="display: none;">
<%= form_tag edit_user_path(@user),:id => 'submit_id', method: :get do %>
<p>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search", name: nil %>
</p>
<% end %>
</div>


<nav class="navbar navbar-default" role="navigation" id="toolBar">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  
    <form class="navbar-form navbar-left" role="search">
      
      <%= form_tag edit_user_path(@user),:id => 'submit_id', method: :get do %>
        <div class="form-group">
        <%= text_field_tag :query, params[:query], :placeholder => "search", class: "form-control" %>
       </div>
        <!-- <%= submit_tag "Search", name: nil, class: "btn btn-default" %> -->
      <% end %>
    </form>
    
    <nav class="navbar-right">
    <div class="alert-div alert alert-success fade in" id="success" style="display: none;">Success!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</div>
 <!--   # <% flash.each do |key, value| %>
        
        #<%= content_tag(:div, value, class: "alert-div alert alert-#{key}") %>
        
   # <% end %> -->
    </nav>
    
    <ul class="nav navbar-nav navbar-right">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" id="save">Save</button>
        <button type="button" class="btn btn-danger" id="delete">Delete</button>
        
        <% if false%>
          
          <%= link_to "Delete", user_thought_path(@user, @thought_edit), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' },remote: true %>
        <%end%>
        <!-- <button type="button" class="btn btn-danger" id="delete">Delete</button> -->
        <!-- #<%= link_to "Publish", @user, class: "btn btn-default" %> -->
       <%= link_to "New", new_user_thought_path(@user), class: "btn btn-default", remote: true %>
       <!-- <button type="button" class="btn btn-default" id="thought_network">Thought Network</button> -->
      </div>
    </ul>

    
  </div><!-- /.navbar-collapse -->


</nav>


<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" style="height:100%; padding-bottom:10px;">

<div class="sideSearch">

</div>

        <div class="sideScrollBar">

          <div class="list-group">


              <% @thoughts_search.each do |thought|%>
              
              <a data-remote="true" href="/users/<%= @user.id %>/thoughts/<%= thought.id %>/edit" class="list-group-item" data-thoughtid="<%= thought.id %>">
                <h4 class="list-group-item-heading">
                <% mod = thought.content.scan(/#\w+/) %>
                 <% title = mod[0] %>
                 
                 <%= title %>
                 <span class="hashSubTitle">
                 <%=  thought.content.scan(/#\w+/).uniq %>
                 </span>
                 </h4>
                 <p class="list-group-item-text">
                 
                 <%=  truncate(thought.content, :length => 150) %>
                 
                </p>
              </a>
            <% end %> 
           
          </div>
        </div>

        </div><!--/span-->

<div id="bucket" class="col-xs-12 col-sm-9" style="height:100%; padding-bottom:10px;">
     

<%= form_for [@user, @thought], :html => { :id => "newForm" }, remote: true do |f| %>
<%= render "shared/error_messages", object: @thought %>
  <fieldset style="height:100%;">

        <%= f.text_area :content, autofocus: true, class: "form-control writingClass"  %>
    

  </fieldset>
<% end %>

  <div style="display: none;" class=" sigma-parent" id="sigma-example-parent" >
    <div class="sigma-expand" id="sigma-example" ></div>
  </div>


</div><!--/span-->

        



       