<%= javascript_include_tag 'sigma/sign_up_sigma.js' %> 

<style type="text/css">
body {
  background-color: black;
  /*padding-top: -100px;*/
  height: 100%;
}
  .sigma-parent {
    position: relative;
    z-index: -1;
    top: -250px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: black;
    height: 90%;
  }

  #sign-up-form{
  	position: absolute;
  	
  	top: 50px;
  	/*padding-left: 200px;*/
  }

</style>



<div class="container" style="color:white;">
<h1 style="position:relative; top:10px; color:green;">Sign up</h1>

<div class="row">
<div class="col-md-4"></div>
  <div class="col-md-4">
 
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

	     
	      <%= f.text_field :username, :class=>"form-control", placeholder: "Username", style: "position:relative; top: 20px;" %>

	      <%= f.text_field :email, :class=>"form-control", placeholder: "Email", style: "position:relative; top: 40px;" %>

	     
	      <%= f.password_field :password, :class=>"form-control", placeholder: "Password", style: "position:relative; top: 60px;" %>

	  
	      <%= f.password_field :password_confirmation, :class=>"form-control", placeholder: "Password Confirmation", style: "position:relative; top: 80px;" %>

	      <%= f.submit "Create my account", class: "btn btn-large btn-success", style: "color:black; position:relative; top: 100px;" %>
    <% end %>
 
  </div>
  <div class="col-md-4"></div>
</div>
</div>

<div class="sigma-parent" id="sigma-expand">
    <div class="sigma-expand" id="sigma-example"></div>
</div>