<%= javascript_include_tag 'sigma/title_sigma.js' %> 

<style type="text/css">
body {
  background-color: black;
  /*padding-top: -100px;*/
  height: 100%;
}
  .sigma-parent {
    position: relative;
    top: -50px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: black;
    height: 90%;
  }

  #sign-up-form{
  	position: relative;
  	z-index: 1;
  	top: -600px;
  	/*padding-left: 200px;*/
  }

</style>

<div class="sigma-parent" id="sigma-expand">
    <div class="sigma-expand" id="sigma-example"></div>
</div>

<div id="sign-up-form" class="container" style="color:white;">
<h1 style="position:relative; top:20px; color:green;">Sign up</h1>

<div class="row">
<div class="col-md-4"></div>
  <div class="col-md-4">

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

	      <%= f.label :username %>
	      <%= f.text_field :username, :class=>"form-control" %>

	      <%= f.label :email %>
	      <%= f.text_field :email, :class=>"form-control" %>

	      <%= f.label :password %>
	      <%= f.password_field :password, :class=>"form-control" %>

	      <%= f.label :password_confirmation, "Confirmation" %>
	      <%= f.password_field :password_confirmation, :class=>"form-control" %>

	      <%= f.submit "Create my account", class: "btn btn-large btn-success", style: "color:black; position:relative; top: 20px;" %>
    <% end %>
  </div>
  <div class="col-md-4"></div>
</div>
</div>