<!-- get embedded hash array -->
<% thought_array=[] %>
<% @thoughts.each do |thought| %>
 <% thought.content.to_s   %>
 <% str=  thought.content.to_s   %>
 <% tags = str.scan(/#\w+/).uniq %>
 <%thought_array= thought_array+[tags] %>
<% end %>

<%= javascript_tag do %>
  window.userName = "<%=j @user.username %>";
  window.nodeCount = "<%= @thoughts.size %>";
  window.hashArray = <%=raw thought_array.as_json %>;
<% end %>







<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">

<!--Sidebar content-->
    <!--Side search-->
<%= form_tag @user,:id => 'submit_id', method: :get do %>
<p>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search", name: nil %>
</p>
<% end %>
  <!--Sidebar items-->    

</div>

<div class="span10">
<!--Body content-->

<% if @thought_edit%>
<%= form_for([@user, @thought_edit]) do |f| %>
<%= render "shared/error_messages", object: @thought_edit %>
  <fieldset>
    
        <%= f.text_area :content, autofocus: true, rows: 7  %>
      
  
    
    <p>
      <%= f.submit 'Save', class: "btn btn-primary" %> |
      <%= link_to "Delete", user_thought_path(@user, @thought_edit), method: :delete, data: { confirm: 'Are you sure?' } %>
      
    </p>
  </fieldset>
<% end %>
<% else %>
<%= form_for([@user, @thought]) do |f| %>
<%= render "shared/error_messages", object: @thought %>
  <fieldset>
    
     
        <!-- <%= f.label :content %>          -->
        <%= f.text_area :content, autofocus: true, rows: 7  %>
      
  
    
    <p>
      <%= f.submit 'Save', class: "btn btn-primary" %> 
      
    </p>
  </fieldset>
<% end %>
<% end %>



  

<!-- node and line div -->
  <div class=" sigma-parent" id="sigma-example-parent">
    <div class="sigma-expand" id="sigma-example"></div>
  </div>



    </div>
  </div>
</div>




