<%= javascript_include_tag 'sigma/custom_sigma.js' %>  


<%= javascript_tag do %>
  window.hashArray = <%=raw web_array_maker(@thoughts).as_json %>;
  window.userid = "<%= @user.id %>";
  window.thoughtid = "<%= @thought.id %>";
  window.userName = "<%=j @user.username %>";
  window.nodeCount = "<%= @thoughts.size %>";
  
<% end %>

<style type="text/css">
html{
  overflow:hidden;
}
body {
  background-color: black;
  /*padding-top: -100px;*/
  height: 100%;
}

  .sigma-expand {

    background-color: black;
    
  
  }

  #editbtn{
    position: relative;
    left:12px;
  }
  #reload{
    position: relative;
    left:12px;
  }
  #publish{
    position: relative;
    left:12px;
  }
  #newThought{
    position: relative;
    left:12px;
  }

</style>

<div class=" sigma-parent" id="sigma-example-parent" >
    <div class="sigma-expand" id="sigma-example" ></div>
</div>


<div style="display: none;">
<%= form_tag @user,:id => 'submit_id', method: :get, remote: true do %>
<p>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search", name: nil %>
</p>
<% end %>
</div>



<div id="modalDiv">
<%= render "users/modal"%>
</div>




<nav class="navbar navbar-inverse navbar-default navbar-fixed-bottom" role="navigation">
<!-- <button type="button" class="btn btn-primary" id="newThought">New Thought</button> -->
<%= link_to "Edit Mode", edit_user_path(@user), class: "btn btn-success", id: "editbtn", 'data-no-turbolink' => true %>

<button type="button" id="reload" class="btn btn-primary navbar-btn">Generate Random Graph</button>
<!-- <button type="button" id="publish" class="btn btn-default navbar-btn">Publish (under construction)</button> -->
  <p class="navbar-text navbar-right">Using <a href="http://sigmajs.org/" target="_blank" class="navbar-link">sigma.js</a></p>
</nav>