<!-- <h1> show page </h1> -->


<%= form_for([@user, @thought]) do |f| %>
<%= render "shared/error_messages", object: @thought %>
  <fieldset>
    
     
        <!-- <%= f.label :content %>          -->
        <%= f.text_area :content, autofocus: true, rows: 10  %>
      
  
    
    <p>
      <%= f.submit 'Save', class: "btn btn-primary" %> 
      
    </p>
  </fieldset>
<% end %>


<ul>
  <% @thoughts.each do |thought| %>
    <li>
      
      <span class="user"> <%= thought.content %></span>
      <%= link_to "Show", user_thought_path(@user, thought) %> |
      <%= link_to "Delete", user_thought_path(@user, thought), method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to "Edit", edit_user_thought_path(@user, thought) %>
      
    </li>
  <% end %>
</ul>
