<!-- get embedded hash array -->
<% thought_array=[] %>
<% @thoughts.each do |thought| %>
 <% thought.content.to_s   %>
 <% str=  thought.content.to_s   %>
 <% tags = str.scan(/#\w+/).uniq %>
 <%thought_array= thought_array+[tags] %>
<% end %>

<%= javascript_tag do %>
 window.userid = "<%= @user.id %>";
  window.thoughtid = "<%= @thought.id %>";
  window.userName = "<%=j @user.username %>";
  window.nodeCount = "<%= @thoughts.size %>";
  window.hashArray = <%=raw thought_array.as_json %>;
<% end %>

<style type="text/css">
html{
  overflow:hidden;
}
body {
  background-color: black;
  /*padding-top: -100px;*/
  height: 100%;

}

/*.navbar  { height: -55px; }  */

/*
  .sigma-parent {
    position: relative;
    padding-bottom: 20px;
    bottom: 0px;
   
    background: #222;
    height: 100%;
    
    
  }*/

  #editbtn{
    position: relative;
    top:8px;
    left:12px;
  }

</style>

<div class=" sigma-parent" id="sigma-example-parent" >
    <div class="sigma-expand" id="sigma-example" ></div>
  </div>



<div style="display: none;">
<%= form_tag @user,:id => 'submit_id', method: :get, remote: true do %>
<p>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search", name: nil %>
</p>
<% end %>
</div>

<div id="modalDiv">
<%= render "users/modal"%>
</div>





<nav class="navbar navbar-inverse navbar-default navbar-fixed-bottom" role="navigation">
<!-- <button type="button" class="btn btn-default navbar-btn">Sign in</button> -->
<%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary", id: "editbtn", 'data-no-turbolink' => true %>
  <p class="navbar-text navbar-right"> <a href="http://sigmajs.org/" class="navbar-link">sigms.js</a></p>
<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
</nav>