<!-- get embedded hash array -->
<% thought_array=[] %>
<% @thoughts.each do |thought| %>
 <% thought.content.to_s   %>
 <% str=  thought.content.to_s   %>
 <% tags = str.scan(/#\w+/).uniq %>
 <%thought_array= thought_array+[tags] %>
<% end %>

<%= javascript_tag do %>
  window.userName = "<%=j @user.username %>";
  window.nodeCount = "<%= @thoughts.size %>";
  window.hashArray = <%=raw thought_array.as_json %>;
<% end %>


<div style="display:none;">
<%= form_tag @user,:id => 'submit_id', method: :get do %>
<p>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search", name: nil %>
</p>
<% end %>
</div>




<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">

<!--Sidebar content-->
    <!--Side search-->
<%= form_tag @user,:id => 'submit_id', method: :get do %>
<div>
  <%= text_field_tag :query, params[:query], :id => 'submit_id', :placeholder => "search" %>
</div>
<% end %>
  <!--Sidebar items-->    
<div style=" overflow:scroll; height:100%; overflow-x: hidden; border:1px solid gray; border-radius:4px;">
<table class="table table-bordered table-striped" >
      <tbody>
  <% @thoughts_search.each do |thought|%>
    <tr>
      <td>
     
       
       <% mod = thought.content.scan(/#\w+/).uniq %>
       <% title = mod[0] %>
       <% title[0]="" %>
       <%= title %>
       

       </br>
       <%= link_to thought.content.scan(/#\w+/).uniq, params.merge({:id_edit => thought.id}) %>
      </td>
    </tr>
  <% end %> 
</tbody>

</table>
</div>
</div>

<div class="span10">
<!--Body content-->

<% if @thought_edit%>
<%= form_for([@user, @thought_edit]) do |f| %>
<%= render "shared/error_messages", object: @thought_edit %>
  <fieldset>
    
     
        <!-- <%= f.label :content %>          -->
        <%= f.text_area :content, autofocus: true, rows: 7  %>
      
  
    
    <p>
      <%= f.submit 'Save', class: "btn btn-primary" %> |
      <%= link_to "Delete", user_thought_path(@user, @thought_edit), method: :delete, data: { confirm: 'Are you sure?' } %>
      
    </p>
  </fieldset>
<% end %>
<% else %>
<%= form_for([@user, @thought]) do |f| %>
<%= render "shared/error_messages", object: @thought %>
  <fieldset>
    
     
        <!-- <%= f.label :content %>          -->
        <%= f.text_area :content, autofocus: true, rows: 7  %>
      
  
    
    <p>
      <%= f.submit 'Save', class: "btn btn-primary" %> 
      
    </p>
  </fieldset>
<% end %>
<% end %>



  

<!-- node and line div -->
  <div class=" sigma-parent" id="sigma-example-parent">
    <div class="sigma-expand" id="sigma-example"></div>
  </div>



    </div>
  </div>
</div>




