<!-- <h1> show page </h1> -->
<div style="display:none;">
<%= form_tag @user,:id => 'submit_id', method: :get do %>
<p>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search", name: nil %>
</p>
<% end %>
</div>







<% if @thought_edit%>
<%= form_for([@user, @thought_edit]) do |f| %>
<%= render "shared/error_messages", object: @thought_edit %>
  <fieldset>
    
     
        <!-- <%= f.label :content %>          -->
        <%= f.text_area :content, autofocus: true, rows: 10  %>
      
  
    
    <p>
      <%= f.submit 'Save', class: "btn btn-primary" %> |
      <%= link_to "Delete", user_thought_path(@user, @thought), method: :delete, data: { confirm: 'Are you sure?' } %>
      
    </p>
  </fieldset>
<% end %>
<% else %>
<%= form_for([@user, @thought]) do |f| %>
<%= render "shared/error_messages", object: @thought %>
  <fieldset>
    
     
        <!-- <%= f.label :content %>          -->
        <%= f.text_area :content, autofocus: true, rows: 10  %>
      
  
    
    <p>
      <%= f.submit 'Save', class: "btn btn-primary" %> 
      
    </p>
  </fieldset>
<% end %>
<% end %>




<%unless @thoughts_search.empty?%>
<ul>
  <% @thoughts_search.each do |thought|%>
    <li>
      
      <%= link_to thought.content, params.merge({:id_edit => thought.id}) %>
      
    </li>
  <% end %> 
</ul>
<% end %>


<ul>
  <% @thoughts.each do |thought| %>
    <li>
      
      <%= link_to thought.content, params.merge({:id_edit => thought.id}) %>
      
    </li>
  <% end %>
</ul>



    <div >
  <h1>#hashtag nodes</h1>
  
  <div class="span12 sigma-parent" id="sigma-example-parent">
    <div class="sigma-expand" id="sigma-example"></div>
  </div>
</div>



<% xx=[] %>
<% @thoughts.each do |thought| %>
 
 <% thought.content.to_s   %>
 
 <% str=  thought.content.to_s   %>
 

 <% tags = str.scan(/#\w+/).uniq %>
 
   


 <%xx= xx.concat tags %>
 
<% end %>



<%= javascript_tag do %>
  window.userName = "<%=j @user.username %>";
  window.nodeCount = "<%= @thoughts.size %>";
  window.hashArray = <%=raw xx.as_json %>;


<% end %>