<!-- get embedded hash array -->
<% thought_array=[] %>
<% @thoughts.each do |thought| %>
 <% thought.content.to_s   %>
 <% str=  thought.content.to_s   %>
 <% tags = str.scan(/#\w+/).uniq %>
 <%thought_array= thought_array+[tags] %>
<% end %>

<%= javascript_tag do %>
  window.userName = "<%=j @user.username %>";
  window.nodeCount = "<%= @thoughts.size %>";
  window.hashArray = <%=raw thought_array.as_json %>;
<% end %>

<style type="text/css">
html{
  overflow:hidden;
}
body {
  /*padding-top: -100px;*/
  height: 100%;

}

/*.navbar  { height: -55px; }  */

/*
  .sigma-parent {
    position: relative;
    padding-bottom: 20px;
    bottom: 0px;
   
    background: #222;
    height: 100%;
    
    
  }*/

</style>

<div class=" sigma-parent" id="sigma-example-parent" >
    <div class="sigma-expand" id="sigma-example" ></div>
  </div>



<div style="display: none;">

<p>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search", name: nil %>
</p>

</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <% @thoughts_search = @user.thoughts.text_search("and") %>
  <% @thoughts_search.each do |thought|%>
    <tr>
      <td>
      
       
       <%= thought.content %>
       </br>
       ------------------------------------------
       </br>
      </td>
    </tr>
  <% end %> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<nav class="navbar navbar-inverse navbar-default navbar-fixed-bottom" role="navigation">
<!-- <button type="button" class="btn btn-default navbar-btn">Sign in</button> -->
<%= link_to "Edit", edit_user_path(@user), class: "btn btn-danger" %>
  <p class="navbar-text navbar-right">By <a href="http://www.rolandsharp.com" class="navbar-link">Roland Sharp</a></p>

</nav>