<% @thoughts.each do |thought|%>

<% if @thought.id == thought.id %>
<a data-remote="true" href="/<%= @user.username %>/thoughts/<%= thought.id %>/edit" class="list-group-item active" data-thoughtid="<%= @thought.id %>">
<% else %>
<a data-remote="true" href="/<%= @user.username %>/thoughts/<%= thought.id %>/edit" class="list-group-item" data-thoughtid="<%= @thought.id %>">
<% end %>

<h4 class="list-group-item-heading">
    <span class="glyphicon glyphicon-chevron-down"></span>
    <% if thought.title %>
        <strong><%=  thought.title.titleize %></strong>
    <% end %>
</h4>

<p class="list-group-item-text">

<span class="hashSubTitle">
 <% if thought.tags  %>
  <% thought.tags.split(',').each do |tag| %>
    <p class="tagListClass">
    <%= tag %>
    </p>

 <% end %>

 <% end %>
 </span>

<% if thought.tags  %>
    <% if thought.tags.split(',').length > 0 %>
     <br />  
    <% end %>
<% end %>


 <%=  truncate(thought.content, :length => 150) %>
 
</p>

</a>

<% end %> 

