<script type="text/javascript">
	$('.list-group-item').click(function(e) {
         $('.list-group a').removeClass('active');
            $(this).addClass('active');
  
    });
</script>



<% @thoughts.each do |thought|%>

<% unless thought.content == "" %>
<a data-remote="true" href="/<%= @user.username %>/thoughts/<%= thought.id %>/edit" class="list-group-item" data-thoughtid="<%= @thought.id %>">
                <h4 class="list-group-item-heading">
                <%= thought.id %>
                 <% thought_title = thought.title.to_s %>
                 <% unless thought_title == "" %>
                 <% unless thought.nil? %>
                      <strong><%=  thought.title.titleize %></strong>
                      <span class="hashSubTitle">
                       <%=  thought.tags %>
                       </span>

                 
                 <% else %>
                
                 <% mod = thought.content.scan(/#\w+/) %>
                 <% if mod[0] %>
                 <% title = mod[0] %>
                 <% else %>
                 <% title = mod[0]%>
                 <% end %>
                 <!-- # <strong><%= title %></strong> -->
                 <span class="hashSubTitle">
                 <%=  thought.content.scan(/#\w+/).uniq %>
                 </span>

                 <% end %>
                 <% end %>
                 </h4>
                 <p class="list-group-item-text">
                 
                 <%=  truncate(thought.content, :length => 150) %>
                 
                </p>
</a>

<% end %> 
<% end %> 
