

<%= form_for([@user, @thought]) do |f| %>
<%= render "shared/error_messages", object: @thought %>
  <fieldset>
    <!-- <ol> -->
      <!-- <li class="required"> -->
        <!-- <%= f.label :content %>          -->
        <%= f.text_area :content, autofocus: true, rows: 10 %>
      <!-- </li> -->
  
    <!-- </ol> -->
    <p>
      <%= f.submit 'Save', class: "btn btn-primary" %> 
      <%= link_to "New", @user, class: 'button' %> |
      <%= link_to "Delete", user_thought_path(@user, @thought), method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </fieldset>
<% end %>

<ul>
  <% @thoughts.each do |thought| %>
    <li>
      
      
      
      
      <%= link_to thought.content, edit_user_thought_path(@user, thought) %>
      
    </li>
  <% end %>
</ul>




  <div >
  <h1>#hashtag nodes</h1>
  
  <div class="span12 sigma-parent" id="sigma-example-parent">
    <div class="sigma-expand" id="sigma-example"></div>
  </div>
</div>



<% xx=[] %>
<% @thoughts.each do |thought| %>
 
 <% thought.content.to_s   %>
 
 <% str=  thought.content.to_s   %>
 

 <% tags = str.scan(/#\w+/).uniq %>
 
   


 <%xx= xx.concat tags %>
 
<% end %>



<%= javascript_tag do %>
  window.userName = "<%=j @user.username %>";
  window.nodeCount = "<%= @thoughts.size %>";
  window.hashArray = <%=raw xx.as_json %>;


<% end %>