<%= form_for [@user, @thought], :html => { :id => "newForm" },remote: true do |f| %>
<!-- dynamic active thought variable for delete jquery-->
<%= javascript_tag do %>
  window.thoughtid = "<%= @thought.id %>";
  window.userName = "<%= @user.username %>";
  window.userid = "<%= @user.id %>";
<% end %>
<%= render "shared/error_messages", object: @thought %>
  <fieldset style="height:100%;">
  <%= f.submit %>
	      <%= f.text_field :tags, class: "form-control tagClass", placeholder: "Enter tags...", 'data-role' => "tagsinput"%>
	      <%= f.text_field :title, class: "form-control", placeholder: "Title"%>
          <%= f.text_area :content, autofocus: true, class: "form-control writingClass" %>    
  </fieldset>
<% end %>


<form accept-charset="UTF-8" action="/<%= @user.id%>/thoughts" class="new_thought" data-remote="true" id="newForm" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
<!-- dynamic active thought variable for delete jquery-->
<%= javascript_tag do %>
  window.thoughtid = "<%= @thought.id %>";
  window.userName = "<%= @user.username %>";
  window.userid = "<%= @user.id %>";
<% end %>
  <fieldset style="height:100%;">
	      <input class="form-control tagClass" data-role="tagsinput" id="thought_tags" name="thought[tags]" placeholder="Enter tags..." type="text" />
	      <input class="form-control" id="thought_title" name="thought[title]" placeholder="Title" type="text" />
          <textarea autofocus="autofocus" class="form-control writingClass" id="thought_content" name="thought[content]">
</textarea>    
  </fieldset>
</form>